<!DOCTYPE <html>
	<html>
		<head>
			<<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<<body>
			<nav>
			<<ul>
				<li><a href="/">Site></a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		<footer>
		<<ul>
			<li><<a href="mailto:rotenberg.jesse@gmail.com">emails for all</a></li>
		</ul>
		</footer>
		</body>

</html>
